# ----------------------------------
# Miscellaneous
# ----------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# ----------------------------------
# IDEs and Editors
# ----------------------------------

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode
.vscode/

# ----------------------------------
# Flutter/Dart/Pub
# ----------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/

# API Docs
doc/api/

# iOS builds
**/ios/Flutter/.last_build_id

# Android build artifacts
android/app/debug/
android/app/profile/
android/app/release/

# ----------------------------------
# Symbolication and Obfuscation
# ----------------------------------
app.*.symbols
app.*.map.json
